@charset "UTF-8";

body {
    background-image: url("../images/backimage.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0 0 15px;
    background-color: rgba(255, 255, 255, 75%);
    z-index: 500;
}

header a {
    text-decoration: none;
}

header ul li {
  list-style: none;
  padding: 20px 20px 10px 20px;
}

main {
    margin: 150px 2% 5% 2%;
}

footer {
    position: fixed;
    right: 5%;
    bottom: 0;
    color: #eeeeee;
}

.flex {
	display: flex;
}

.left {
	width: 20%;
	padding: 2%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 90%);
}

.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}

.balloon2-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2-top:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}

.balloon2-top:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #555;
  z-index: 1;
}

.balloon2-top p {
  margin: 0;
  padding: 0;
}

.center {
	width: 60%;
	padding: 2%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 90%);
	margin: 0 3%;
}

.right {
	width: 20%;
	padding: 2%;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 90%);
}

.passive {
	display: none;
}

#login {
    background-color: rgba(255, 255, 255, 90%);
    border-radius: 10px;
    text-align: center;
    padding: 3% 3%;
    margin: 200px 35% 5% 35%;
}

.align_center {
	text-align: center;
}

.menu {
	border-bottom: 1px solid black;
}

.menu_img {
	width: 100px;
	height: 100px;
}

.cat_icon {
	width: 60px;
	height: 60px;
}

.paypay_icon {
	width: 20px;
	height: 20px;
}

.little_title {
	font-size: 25px;
}

.category_name {
	font-size: 35px;
	margin-top: 20px;
	margin-left: 10px;
	border-left: 3px solid black;
	border-bottom: 1px solid black;
	padding-left: 10px;
}

.open:hover, .close:hover{
	opacity: 0.5;
}